<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!-- 缓存相关配置 -->
    <!-- 是否启用缓存 -->
    <add key="IsUseCache" value="true"/>
    <!-- 是否每天清空一次缓存 -->
    <add key="IsClearCache" value="true"/>
    <!-- - - - - 我是华丽的分隔线 - - - - -->

    <!-- log4net日志配置-->
    <!-- log4net配置文件路径-->
    <add key="log4net" value="\Configs\log4net.config"/>
    <!-- 日志是否开启。0不开启，1开启 -->
    <add key="IsWriteLog" value="1"/>
    <!-- 是否记录全部Sql执行语句 -->
    <add key="IsSaveSubSonicLog" value="false"/>
    <!-- - - - - 我是华丽的分隔线 - - - - -->

    <!-- 设置水印图片路径 -->
    <add key="WaterPicPath" value=""/>
    <!-- - - - - 我是华丽的分隔线 - - - - -->

  </appSettings>
  <connectionStrings>
    <!-- 数据库链接字串 -->
    <add name="conn" connectionString="server=.;Initial Catalog=SolutionDataBase;uid=SolutionUid;pwd=123456;Pooling=True;Min Pool Size=10;Max Pool Size=20000;timeout=60"/>
  </connectionStrings>
  <!-- 可用的配置项（这里列的都是默认值）: Language="zh_CN" AjaxTimeout="60" EnableAjax="true" Theme="Neptune" FormMessageTarget="qtip" FormOffsetRight="20" FormLabelWidth="100" FormLabelSeparator="：" IconBasePath="~/icon" EnableAjaxLoading="true" AjaxLoadingType="default" -->
  <!--
    FineUI 配置节中的参数（这里列的都是默认值）：

    Language="zh_CN" 控件语言（en/zh_CN/zh_TW/...）
    AjaxTimeout="120" AJAX超时时间（单位：秒）
    EnableAjax="true" 是否启用AJAX
    Theme="Neptune" 控件主题，目前内置了四种主题风格（Neptune/Blue/Gray/Access）
    FormMessageTarget="Qtip" 表单字段错误提示信息的显示位置（Side/Qtip）
    FormOffsetRight="0" 表单字段右侧距离边界的宽度
    FormLabelWidth="100"  表单字段标签的宽度
    FormLabelSeparator="：" 表单字段标签与内容的分隔符
    IconBasePath="~/res/icon" Icon图片路径
    EnableAjaxLoading="true": 是否启用Ajax提示
    AjaxLoadingType="default"  Ajax提示类型，默认在页面顶部显示黄色提示框，mask则显示extjs默认的加载提示（default/mask）
    CustomTheme="" 
    CustomThemeBasePath="~/res/theme" 

  -->
  <FineUI DebugMode="false" IconBasePath="~/icon"/>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="204800" executionTimeout="3600" appRequestQueueLimit="2000"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f"/>
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false"/>
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
