<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- 数据库链接字串 -->
    <add name="conn" connectionString="server=.;Initial Catalog=SolutionDataBase;uid=SolutionUid;pwd=123456;Pooling=True;Min Pool Size=10;Max Pool Size=20000;timeout=60"/>
  </connectionStrings>
</configuration>
